In [17]:
import pandas as pd
import numpy as np

In [37]:
q1_2019 = pd.read_csv("Divvy_Trips_2019_Q1.csv")
q2_2019 = pd.read_csv("Divvy_Trips_2019_Q2.csv")
q3_2019 = pd.read_csv("Divvy_Trips_2019_Q3.csv")
q4_2019 = pd.read_csv("Divvy_Trips_2019_Q4.csv")
q1_2020 = pd.read_csv("Divvy_Trips_2020_Q1.csv")

In [19]:
#q1_2019.head()
#q2_2019.head()
#q3_2019.head()
#q4_2019.head()
#q1_2020.head()

In [38]:
q4_2019.rename({   'ride_id' : 'trip_id'
                   ,'rideable_type' : 'bikeid'
                   ,'started_at' : 'start_time'
                   ,'ended_at' : 'end_time'
                   ,'start_station_name' : 'from_station_name'
                   ,'start_station_id' : 'from_station_id'
                   ,'end_station_name' : 'to_station_name'
                   ,'end_station_id' : 'to_station_id'
                   ,'member_casual' : 'usertype'})

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,2215,940.0,20,Sheffield Ave & Kingsbury St,309,Leavitt St & Armitage Ave,Subscriber,Male,1987.0
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,6328,258.0,19,Throop (Loomis) St & Taylor St,241,Morgan St & Polk St,Subscriber,Male,1998.0
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,3003,850.0,84,Milwaukee Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Female,1991.0
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,3275,"2,350.0",313,Lakeview Ave & Fullerton Pkwy,290,Kedzie Ave & Palmer Ct,Subscriber,Male,1990.0
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,5294,"1,867.0",210,Ashland Ave & Division St,382,Western Ave & Congress Pkwy,Subscriber,Male,1987.0
...,...,...,...,...,...,...,...,...,...,...,...,...
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,"1,172.0",112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,"1,533.0",90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [39]:
q3_2019.rename({'ride_id' : 'trip_id'
                   ,'rideable_type' : 'bikeid'
                   ,'started_at' : 'start_time'
                   ,'ended_at' : 'end_time'
                   ,'start_station_name' : 'from_station_name'
                   ,'start_station_id' : 'from_station_id'
                   ,'end_station_name' : 'to_station_name'
                   ,'end_station_id' : 'to_station_id'
                   ,'member_casual' : 'usertype'})

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,23479388,2019-07-01 00:00:27,2019-07-01 00:20:41,3591,"1,214.0",117,Wilton Ave & Belmont Ave,497,Kimball Ave & Belmont Ave,Subscriber,Male,1992.0
1,23479389,2019-07-01 00:01:16,2019-07-01 00:18:44,5353,"1,048.0",381,Western Ave & Monroe St,203,Western Ave & 21st St,Customer,NaN,NaN
2,23479390,2019-07-01 00:01:48,2019-07-01 00:27:42,6180,"1,554.0",313,Lakeview Ave & Fullerton Pkwy,144,Larrabee St & Webster Ave,Customer,NaN,NaN
3,23479391,2019-07-01 00:02:07,2019-07-01 00:27:10,5540,"1,503.0",313,Lakeview Ave & Fullerton Pkwy,144,Larrabee St & Webster Ave,Customer,NaN,NaN
4,23479392,2019-07-01 00:02:13,2019-07-01 00:22:26,6014,"1,213.0",168,Michigan Ave & 14th St,62,McCormick Place,Customer,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1640713,25223635,2019-09-30 23:56:27,2019-10-01 00:06:20,5690,593.0,84,Milwaukee Ave & Grand Ave,134,Peoria St & Jackson Blvd,Subscriber,Male,1993.0
1640714,25223636,2019-09-30 23:57:02,2019-10-01 00:02:13,5079,310.0,268,Lake Shore Dr & North Blvd,85,Michigan Ave & Oak St,Subscriber,Male,1992.0
1640715,25223637,2019-09-30 23:57:45,2019-10-01 00:01:41,5535,235.0,423,University Ave & 57th St,426,Ellis Ave & 60th St,Customer,Male,2000.0
1640716,25223638,2019-09-30 23:57:47,2019-10-01 00:04:41,6120,414.0,110,Dearborn St & Erie St,31,Franklin St & Chicago Ave (Temp),Subscriber,Male,1986.0
1640717,25223639,2019-09-30 23:59:37,2019-10-01 00:05:17,60,339.0,265,Cottage Grove Ave & Oakwood Blvd,179,MLK Jr Dr & Pershing Rd,Subscriber,Female,1996.0

In [41]:
q2_2019.rename({'ride_id' : '01 - Rental Details Rental ID'
                   ,'rideable_type' : '01 - Rental Details Bike ID'
                   ,'started_at' : '01 - Rental Details Local Start Time'
                   ,'ended_at' : '01 - Rental Details Local End Time'
                   ,'tripduration' : '01 - Rental Details Duration In Seconds Uncapped'
                   ,'start_station_name' : '03 - Rental Start Station Name'
                   ,'start_station_id' : '03 - Rental Start Station ID'
                   ,'end_station_name' : '02 - Rental End Station Name'
                   ,'end_station_id' : '02 - Rental End Station ID'
                   ,'gender' : 'Member Gender'
                   ,'member_casual' : 'User Type'
                   ,'birthyear' :'05 - Member Details Member Birthday Year'})

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1108158,23479383,2019-06-30 23:58:00,2019-07-01 00:20:22,4573,"1,342.0",206,Halsted St & Archer Ave,206,Halsted St & Archer Ave,Customer,NaN,NaN
1108159,23479384,2019-06-30 23:58:04,2019-07-01 00:14:17,6301,973.0,199,Wabash Ave & Grand Ave,338,Calumet Ave & 18th St,Subscriber,Male,1980.0
1108160,23479385,2019-06-30 23:58:20,2019-07-01 00:25:51,4472,"1,651.0",319,Greenview Ave & Diversey Pkwy,337,Clark St & Chicago Ave,Subscriber,Female,1991.0
1108161,23479386,2019-06-30 23:58:52,2019-07-01 00:11:24,5021,752.0,226,Racine Ave & Belmont Ave,300,Broadway & Barry Ave,Subscriber,Male,1992.0
1108162,23479387,2019-06-30 23:59:05,2019-07-01 00:26:14,4749,"1,629.0",85,Michigan Ave & Oak St,249,Montrose Harbor,Subscriber,Male,1987.0

In [46]:
q2_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108163 entries, 0 to 1108162
Data columns (total 12 columns):
 #   Column                                            Non-Null Count    Dtype
---  ------                                            --------------    -----
 0   01 - Rental Details Rental ID                     1108163 non-null  int64
 1   01 - Rental Details Local Start Time              1108163 non-null  object
 2   01 - Rental Details Local End Time                1108163 non-null  object
 3   01 - Rental Details Bike ID                       1108163 non-null  int64
 4   01 - Rental Details Duration In Seconds Uncapped  1108163 non-null  object
 5   03 - Rental Start Station ID                      1108163 non-null  int64
 6   03 - Rental Start Station Name                    1108163 non-null  object
 7   02 - Rental End Station ID                        1108163 non-null  int64
 8   02 - Rental End Station Name                      1108163 non-null  object
 9   User Type                                         1108163 non-null  object
 10  Member Gender                                     922609 non-null   object
 11  05 - Member Details Member Birthday Year          927210 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 142.2+ MB

In [33]:

q1_2019.rename({'ride_id' : 'trip_id'
                   ,'rideable_type' : 'bikeid'
                   ,'started_at' : 'start_time'
                   ,'ended_at' : 'end_time'
                   ,'start_station_name' : 'from_station_name'
                   ,'start_station_id' : 'from_station_id'
                   ,'end_station_name' : 'to_station_name'
                   ,'end_station_id' : 'to_station_id'
                   ,'member_casual' : 'usertype'})

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
365064,22178524,2019-03-31 23:51:32,2019-04-01 00:04:09,1501,757.0,38,Clark St & Lake St,29,Noble St & Milwaukee Ave,Subscriber,Male,1993.0
365065,22178525,2019-03-31 23:52:37,2019-03-31 23:58:09,3270,332.0,129,Blue Island Ave & 18th St,202,Halsted St & 18th St,Subscriber,Male,1992.0
365066,22178526,2019-03-31 23:52:38,2019-04-01 00:06:44,3584,846.0,283,LaSalle St & Jackson Blvd,273,Michigan Ave & 18th St,Subscriber,Male,1984.0
365067,22178527,2019-03-31 23:53:08,2019-03-31 23:56:06,4384,178.0,321,Wabash Ave & 9th St,39,Wabash Ave & Adams St,Subscriber,Male,1969.0
365068,22178528,2019-03-31 23:53:48,2019-04-01 00:01:16,5589,448.0,248,Woodlawn Ave & 55th St,247,Shore Dr & 55th St,Subscriber,Male,1998.0